<header>
	<h1><%= @user %></h1>
	<%= link_to 'Edit User',[:edit,:admin,@user],class: "edit" %>
	<%= link_to 'Archive User',[:archive,:admin,@user],method: :patch,data: { confirm: 'You sure?' },class: "delete"%>
</header>
